*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
p{
	display:block;
	clear:both;
}
html, body{
	background: white;
	font-family:verdana, sans-serif;
}
body{
	display: flex;
    flex-direction: column;
	overflow:auto;
}
section,div,article,header{
	display:block;
	width: 100%;
}

h1, h2, h3 {
    font-family: "Advent Pro" , verdana , sans-serif;
}

header>div{
	padding-left:100px;
}
header h1 {
	font-weight:bold;
	font-size:25px;
	margin-top:10px;
	text-overflow: clip;
	/* letter-spacing:16px; */
}
header h3{
	font-size:20px;
	/* letter-spacing:5px; */
	
}



footer{
	width:100%;
	height:30px;
	background-color:#efefef;
	border-top:5px solid lightgray;
	color:#3b3b3b;
	text-align:center;
	
}
footer p {
	line-height:25px;
	
}

input[type=text] {
	margin:40px 20px;
	height:30px;
    width: 190px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('../images/search.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 2px 20px 2px 40px;
}

main{
	
	width:90%;
	margin:0px auto;

}
main>h2:first-child{
	margin:10px auto 30px;
	/* background:rgba(100,0,50,0.9); */
	font-size:2.8em;
	text-align:left;
	letter-spacing:5px;
	/* line-height:5em; */
	/* border:1px solid gray; */
	/* box-shadow:0px 0px 10px 1px rgba (0,0,0,0.1); */
	color:black
}

/* figure{
	
	margin:0px auto;
	width:45%;
	height:auto;
	background-color:white;
	text-align:center;
	
	box-shadow:1px 1px 1px 1px rgba(0,0,0,0.7);
	padding:5px;
}
figure img{
	margin:0 auto;
}
.3column{
	flex:1;
	width:calc(100% / 3);
}

 */
 .column{
	flex-direction:column;
	margin:0px;
	padding-left:20px;

}
 .row{
	 margin-top:20px;
	 
	 display:flex;
	 flex:1;
 }
.bcit:first-letter{
	color:red;	
}

.top{
	width:50px;
	height:50px;
	border-radius:50%;
	background:rgba(10,10,10,0.2);
	position: fixed;
	bottom:40px;
	right:20px;
	z-index: 100;
	box-shadow:0px 0px 1px 2px rgba(10,10,10,0.2);
	
}
.top  a{
	display: block;
    background: url("../images/up2.png") no-repeat center;
	width: 100%;
    height: 100%;
}


.content_title{
	width:100%;
	height:50px;
	padding:0px 10%;
	position:sticky;
	top:0px;
	border-left:22px solid rgba(10,10,10,0.1);
	background:#b7eaff;
	
	
	display:flex;	
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.1);
	/* border-radius:10px; */
	/* border-radius:10px 10px 0 0 ; */
	margin-bottom:0px;
}
.collapsible{
	cursor: pointer;
}

.collapsible:hover{
	background-color:#8fe1e2;
}
.arrow_up{
	
	background:#b7eaff url("../images/up.png") no-repeat;
	background-position:95%;
}

.arrow_down{
	background:#b7eaff url("../images/down.png") no-repeat;
	background-position:95%;
}
.content_title h2{
	/* font-family:"avedet pro",arial , sans-serif; */
	font-size:24px;
	font-weight:bold;
	color:black;
	
	line-height:50px;
}

.content{
	display:block;
	width:100%;
	margin:0 auto;
	padding:30px 10% 40px;
	font-family:arial , sans-serif;
	font-size:16px;
	line-height:20px;
	text-align:justify;
	background:rgba(255,255,255,0.8);
	border:1px solid lightgray;
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.1);
	margin-bottom:20px;
}
.content p, .content li , .content dd {
	
	font-family: arial , sans-serif;
	font-size:16px;
	line-height:30px;
	text-align:justify;
}
.content p{
	margin-top:5px;
}

.content ul {
	padding-left:40px;
	
}
.content ul,.content dl{
	font-family:arial , sans-serif;
	
}
.content dt {
	margin-top:30px;
	font-weight:bold;
	color:#bb0404;
}

.content h3{
	font-family:arial , sans-serif;
	margin-top:40px;
	font-size:19px;
	font-weight:bold;
	color:#bb0404;
}

.content a{
	color:blue;
	text-decoration:none;
}
.content a:hover{
	color:#bb0404;
}




#page_banner {
	display:flex;
	width:100%;
	background:white url("../images/back2.png") 420px -150px no-repeat;/* rgba(255, 195, 40, 0.8);/*rgba(255,255,255,0.9);*/
	height:100px;
	padding-left:15px;
	position:fixed;
	/* border-bottom:10px solid black; */
	top:0px;
	box-shadow:1px 1px 10px 2px rgba(10,10,10,0.5);
	font-family:'Raleway',verdana, sans-serif;
	overflow:hidden;
	z-index:100;
	color:black;
}

#page_banner  h1 {
	color:#025e77;
	padding:5px 40px;
	text-shadow:0	px 2px 0px white;
}
#page_banner  h3{
	color:#025e77;
	padding:0px 40px;
}

#logo{
	padding-top:10px;
	width:120px;
	height:100px;
	position:relative;
	top:10px;
	left:20px;
	z-index:1000;
	
}
#logo img{
	 background:transparent "images/html5-css3-js.png";
	 max-width:100%;
	 height:auto;
}
#wrapper{
	width:100%;
	margin:0px auto 0px;
	padding-top:20px;
	z-index:0;
	position:relative;
	background:#f1f1f1;
}


