*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
p{
	display:block;
	clear:both;
}
html, body{
	background: white;
	font-family:verdana, sans-serif;
}
body{
	display: flex;
    flex-direction: column;
}
section,div,article,header{
	display:block;
	width: 100%;
}

h1, h2, h3 {
    font-family: "Advent Pro" , verdana , sans-serif;
}
header h1 {
	font-weight:bold;
	font-size:28px;
	/* letter-spacing:16px; */
}
header h3{
	font-size:20px;
	/* letter-spacing:5px; */
	
}

nav{
	width:200px;
	height:100%;
	background-color:linear-gradient(0deg,#fefefe,#bebebe);
	border-left:10px solid #08aedc;
}
footer{
	width:100%;
	height:30px;
	background-color:#efefef;
	border-top:5px solid lightgray;
	color:#3b3b3b;
	text-align:center;
	
}
footer p {
	line-height:25px;
	
}

input[type=text] {
	margin:40px 20px;
	height:30px;
    width: 190px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('../images/search.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 2px 20px 2px 40px;
}

main{
	width:100%;
	margin:0px auto;
	background:darkgray;
}
.bcit:first-letter{
	color:red;	
}

.top{
	width:50px;
	height:50px;
	border-radius:50%;
	background:rgba(10,10,10,0.2);
	position: fixed;
	bottom:40px;
	right:20px;
	z-index: 100;
	box-shadow:0px 0px 1px 2px rgba(10,10,10,0.2);
	
}
.top  a{
	display: block;
    background: url("../images/up2.png") no-repeat center;
	width: 100%;
    height: 100%;
}
.sidenav{
	background-color:#fefefe;
	color:black;
}

.content_title{
	width:100%;
	height:50px;
	padding:0px 10%;
	position:sticky;
	top:80px;
	/* border-left:40px solid rgba(10,10,10,0.1);
	border-right:30px solid rgba(10,10,200,0.2); */
	border-bottom:2px solid rgba(10,10,10,0.1);
	background:#8fe1e2;
	cursor: pointer;
	display:flex;
	/* /* margin-top:3px; */ */
}
.content_title:hover{
	background-color:#8fe1e2;
}
.arrow_up{
	background:#b7eaff url("../images/up.png") no-repeat;
	background-position:95%;
}

.arrow_down{
	background:#b7eaff url("../images/down.png") no-repeat;
	background-position:95%;
}
.content_title h2{
	font-family:"avedet pro",arial , sans-serif;
	font-size:24px;
	font-weight:bold;
	color:black;
	
	line-height:50px;
}

.content{
	display:block;
	width:100%;
	margin:0 auto;
	padding:10px 10% 40px;
	font-family:"open sans" ,arial , sans-serif;
	font-size:16px;
	line-height:20px;
	text-align:justify;
	background:#f1fcff;
	
	
	margin-bottom:10px;
	/* border-bottom:5px solid black; */
}


#page_banner {
	display:flex;
	width:100%;
	background:black;/* rgba(255, 195, 40, 0.8);/*rgba(255,255,255,0.9);*/
	height:80px;
	padding-left:15px;
	position:sticky;
	top:0px;
	box-shadow:1px 1px 10px;
	font-family:'Raleway',verdana, sans-serif;
	overflow:hidden;
	z-index:100;
	color:white;
}

#page_banner  h1 {
	
	padding:5px 40px;
}
#page_banner  h3{
	padding:0px 40px;
}

#icon-menu{
	width:140px;
	height:auto;
	display: flex;
    justify-content: center;
    flex-direction: column;
	color:white;
	padding-left:60px;	
	border-left:2px solid lightgray;
	background:#08aedc url("../images/menu.png") no-repeat 10px 50%;
}

#wrapper{
	width:100%;
	margin:0 auto;
	/* height:auto; */
	z-index:0;
	position:absolute;
}